@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');


body {
  background-color: powderblue;
}
.wrapper {
  width: 65%;
  height: 1956px;
  background-color: white;
  display: block;
  margin: 100px auto;
   border-radius: 20px;
}
.logo{
  width: 76px;
  position: absolute;
  margin-left: 50px;
  top: 132px;

}
.text-1 {
  position: absolute;
  margin-left: 148px;
  margin-top: 30px;
  font-family: 'Arvo', serif;
   
}
.text-2 {
  position: absolute;
  margin-left: 154px;
  top:158px;
  color: grey;
}